<!-- extended javascript -->
<!DOCTYPE html>
<html>
    <head>
        <title>Filmes</title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <!-- <th width="50px">No</th> -->
            <th>Título</th>
            <th>Duração</th>
            <th>Gênero</th>
            <th>Action</th>

        </tr>
                       
        <% if(data[0].length){ 
                        
         for(var i = 0;i < data[0].length;i++) { 

            if(data[0][i].validade_filme) {
        %>
         
        <tr>
            <!-- <td><%=(i+1)%></td> -->
            <td><%=data[0][i].nome_filme%></td>
            <td><%=data[0][i].duracao%></td>
            <td><%=data[0][i].nome_genero%></td>
            <td>

               
                <a class="a-inside delete" href="javascript:void(0)" onClick="deleteFilme(<%=data[0][i].id_filme%>)">Delete</a>
               
            </td>
        </tr>
    <% }}
    
     }else{ %>
         <tr>
            <td colspan="5">No Data</td>
         </tr>
    <% } %>
                                      
    </table>
</div>
<div class="page-data">
    
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
        <tr>
            <td class="label">Título</td><td>: <input type="text" name="titulo"></td>
         </tr>
        <tr>
            <td class="label">Duração</td><td>: <input type="text" name="duracao"></td>
         </tr>
          <tr>
            <td class="label">Gênero</td><td>: 
                <select id="select1" name="genero">
                    <% for(var i=0; i < data[1].length; i++) { %>
                        <option><%= data[1][i].nome_genero %></option>
                     <% } %>
                </select></td>
         </tr>
         <tr>
            <td class="label"></td>
            <td>
                &nbsp; <input type="button" value="Save" onClick="saveFilme()">
            </td>
         </tr>
        </table>
    </form>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

    function saveFilme(){
       
       $.ajax({
        
        url:"/api/filme",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){
            
            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
    
    function deleteFilme(id_filme){
    
        $.ajax({
            url:"/api/filme/"+id_filme,
            type: 'put',
            success: function(res) {
                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
            
                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
